 .card{
    width: 500px;
    background-color: antiquewhite;
    text-align: center;
 }
 #pancakes{ 
color: aliceblue;
 }
 #pancakes2{ 
    color: aliceblue;
 }
 #pancakes3{ 
    color: aliceblue;
 }